#nav {
  height: 10px;
  width: 100%;
}

#about, #home {
  position: absolute;
  right: 12px;
}

form {
  margin-bottom: 10px;
}

#blt-content {
  height: 200px;
  border: 1px solid;
  overflow: auto;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid black;
}

td {
  font-family: "Lucida Console", "Courier New", monospace;
}

.elected {
  background-color:greenyellow;
}

.excluded {
  background-color: red;
}